.post {
  width: 600px;
  margin-bottom: 20px;
  color: #f8f8f2;
  background-color: #44475a;
  border: 1px solid #6272a4;
  border-radius: 5px;
  text-align: left;

  &__actions {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 10px 0 10px;

    &__icon {
      padding-right: 10px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__img {
    border-radius: 5px;
    width: 100%;
    img {
      width: 100%;
      min-height: 100px;
    }
  }

  &__title {
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 10px 10px 0 10px;
    p {
      font-size: 18px;
      font-weight: 500;
    }
    span {
      position: relative;
      color: #ff5555;
      &:hover {
        color: #50fa7b;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #50fa7b;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  &__date {
    padding: 0 10px 0 10px;
    font-size: 16px;
  }
  &__explanation {
    padding: 10px;
    &__full {
    }
    &__brief {
      height: 20px;
      width: 550px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px;
    }
    &__more {
      cursor: pointer;
      color: #ff5555;
      position: relative;
      &:hover {
        color: #50fa7b;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #50fa7b;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
